{% extends 'layout.html' %}
{% load static %}
{% block body %}

<div class="row">
  <div class="col-lg-4">
    <h4>My Tasks</h4>
    <ul class="list-group">
      {% for task in tasks %}
        <li class="list-group-item task-list">{% task.task_title %}</li>
    </ul>
  </div>
  <div class="col-lg-8">
    <h4>{% task.task_title %}</h4>
    <p>{% task.description %}</p>
    <button id="update-btn" type="button" class="btn btn-primary">Make changes</button>
    <button id="delete-btn" type="button" class="btn btn-primary">Delete</button>

  </div>
</div>
{% endfor %}
{% endblock %}
