{% extends 'layout.html' %}
{% load static %}
{% block body %}
<table class="table">
  <thead>
    {% if not tasks  %}
      <h3>You have no tasks</h3>
    {% else %}
    <tr>
      <th scope="col" style="width: 15%"></th>
      <th scope="col" style="width: 35%">Task</th>
      <th scope="col" style="width: 30%">Status</th>
      <th scope="col" style="width: 20%">Change status</th>
    </tr>
  </thead>

  <tbody>

      {% for task in tasks %}
          <tr class="table-row" id="row-{task.id}">
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'view_task' %}?taskId={{ task.task.id }}"">{{ task.task.task_title }}</a></td>
            <td>
              {% if task.status == 'completed' %}
                Completed
              {% elif task.status == 'not_completed' %}
                Not completed
              {% endif %}
            </td>
            <td>
              <div class="form-group">
                <form id="complete-task-form" method="POST" action="">
                {% csrf_token %}
                  <select class="form-control status-dropdown" data-taskId="{{task.task.id}}">
                    {% if task.status == 'not_completed' %}
                      <option value="not_completed">Not completed</option>
                      <option value="completed">Completed</option>
                    {% elif task.status == 'completed' %}
                      <option value="completed">Completed</option>
                      <option value="not_completed">Not completed</option>
                    {% endif %}
                  </select>
                </form>
              </div>
            </td>
          </tr>
      {% endfor %}

  </tbody>
  {% endif %}
</table>
{% endblock %}
